.header {
    background-color: rgb(255, 0, 0);
}
.container {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1140px;
    text-align: center;
}
.footer {
    background-color: rgb(0, 255, 136);
    clear: both;
}
.body1 {
    margin: 20px 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.body1 .col {
    width: calc(32.33% - 20px/3);
    height: 300px;
    margin-left: 10px;
    display: flex;
}
@media screen and (max-width: 600px) {
    .body1 {
        flex-direction: column;
    }
    .body1 .col {
        width: 100%;
        margin: 0;
    }
}