body{
  display: block;
    width: 560px;
    font-family:'Roboto Slab', serif;
    text-align: center;
    padding: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 3px solid green;
}