body{
    margin-left: 70px;
}
.anh1{
    width: 933px;
    margin-left: 80px;
    height: 647px;
}
.anh2{
    width: 933px;
    margin-left: 80px;
    height: 647px;
}
.caption1{
    margin-left: 420px;
}
.caption2{
    margin-left: 420px;
}
.caption3{
    margin-left: 300px;
}
.caption4{
    margin-left: 430px;
}